<h1>Welcome</h1>
<p>Wel Come to StoryBlocks 1.0</p>
<p>POst stories from the best and worst of your life and for them to be read by the world or or completely private </p>
{{#if user}}
{{else}}
<a href="/auth/google" class="btn red darken-1"><i class="fa ga-google"></i> LOGIN IN WITH GOOGLE</a>
{{/if}}